extends ../components/base/layout

block variables
  - const title = "Chjewellery" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = "header--sticky"
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main.main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +intro({title: "perfection", subtitle: "made to be yours", image: "main-index", alt: "necklaces on a  women's neck"})(class="intro--main")
    +new-in()
    +blog()
    +faq()

block modals
