mixin intro(options={})
  - const title = options.title || "";
  - const subtitle = options.subtitle || "";
  - const image = options.image;
  section.intro&attributes(attributes)
    +picture("content", image, "jpg", 1366, 463, "necklaces on a  women's neck")
    .container.intro__content
      h1!= title
      p!= subtitle

