.header {
  position: relative;
  padding: 20px 0;
}

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.header__nav {
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto min-content;
}

.header__nav-wrapper {
  display: grid;
  grid-template-areas: "search user"
                        "menu menu";
  grid-template-columns: 49.5% 44%;
  column-gap: 66px;
  row-gap: 50px;
}

.header__input {
  position: relative;
  grid-area: search;
  width: 90%;

  input {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: transparent;
    border: none;
    }

  svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.main-nav {
    grid-area: menu;
    justify-self: center;
  }

  &.additional-nav {
    display: none;
  }

  &.user-nav {
    grid-area: user;
    justify-self: end;
  }
}

.header__nav-toggle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #000000;
  display: none;
  padding: 0;
  position: relative;
  z-index: 25;
}

// .header__cart {
//   position: absolute;
//   top: 50px;
//   right: 0;
// }
