.section-heading {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 5;
}

.section-heading h2 {
  margin: 0 0 24px;
  font-family: $ff-cormorantgaramond;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  @include vp-1023 {
    margin-bottom: 19px;
  }
}

.section-heading a {
  position: relative;
  color: inherit;
  font-weight: 500;
  line-height: 1.3;
  transition: opacity $trans-default;

  &::before {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-accent;
    transform: scale(1);
    transform-origin: 50%;
    transition: transform $trans-default;
  }

  &:hover::before {
    transform: scale(0);
  }

  &:focus::before {
    display: none;
  }

  &:active {
    opacity: 0.5;
  }
}
